<div id="record">
{{> nav this }}

<h1>{{result.title}}</h1>


<div>
<div>Listen to your Dream</div>
<audio src="{{result.audioUrl}}" type="audio/wav" controls ></audio>

<div>{{result.status}}</div>

<div>Categories</div>
{{#each result.categories}}
<div>{{this}}</div>
{{/each}}

<div>Description</div>
<p>{{result.description}}</p>


<div>Date</div>
<p>{{result.date}}</p>
</div>
</div>

