<div id="dreams-list">
  {{> nav this }}

  <h1>Your past dreams</h1>
<div class= "white-card">
  <form method="GET" action="/dreams/search">
    <div class="search-card">
      <div class="search-col">

        <div class="input-band">
          <label for="date">Date:</label>
          <input id="date" type="date" name="date" placeholder="">
        </div>

        <div class="organizer">
           <select name="categories" id="categories">
            <option value="">Select a category</option>
            <option value="Fantastic">Fantastic</option>
            <option value="Super Powers">Super Powers</option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Family">Family</option>
            <option value="Childhood">Childhood</option>
            <option value="Friends">Friends</option>
            <option value="Funny">Funny</option>
            <option value="Pets">Pets</option>
            <option value="Food">Food</option>
            <option value="Job">Job</option>
            <option value="Music">Music</option>
            <option value="Drama">Drama</option>
            <option value="Romance">Romance</option>
            <option value="Celebrities">Celebrities</option>
            <option value="XXX">XXX</option>
            <option value="The Unknown">The Unknown</option>
            <option value="Strangers">Strangers</option>
            <option value="Nightmare">Nightmare</option>
          </select>

          <div class="search-radio">
            <input id="public" type="radio" name="status" value="public" class="radio-btn">
            <label for="public">Public</label>
            <input id="private" type="radio" name="status" value="private" class="radio-btn">
            <label for="private" class="entry">Private</label>
          </div>
        </div>

        <div class="organizer">
          <select name="languages" id="languages">
            <option value="">Select a language</option>
            <option value="EN">English</option>
            <option value="FR">French</option>
            <option value="ES">Spanish</option>
            <option value="DE">German</option>
            <option value="PL">Polish</option>
            <option value="IT">Italian</option>
            <option value="NL">Dutch</option>
            <option value="CA">Catalan</option>
            <option value="PT">Portuguese</option>
            <option value="SV">Swedish</option>
            <option value="RU">Russian</option>
            <option value="HI">Hindi</option>
          </select>
          <select name="SortBy" id="sortBy">
            <option value="">Sort by</option>
            <option value="mostLiked">Likes(most liked)</option>
            <option value="leastLiked">Likes(least liked)</option>
             <option value="newest">Date(newest)</option>
            <option value="oldest">Date(oldest)</option>
          </select>
        </div>
      </div>
    </div>

    <button type="submit" class="auth-btn">Search</button>

  </form>

{{#if madeSearch}}
<div class="search-query">
  <ul>
  {{#each search}}
  <li>{{this}}</li>
  {{/each}}
  </ul>
  <a href="/dreams"><button>Clear all</button></a> 
</div>
{{/if}}
</div>

  <div class="white-card list-card">
    {{#if noResult}}
    <div class="error-msg"><img src="/images/star.png" alt="!!">No Result Found</div>
    {{/if}}
    {{#each result}}
    <div class="one-dream">
      <div class="date">{{formatDate this.date "short"}}</div>
      <div class="date">{{this.languages}}</div>
      <div class="likeStar">
      {{#if (isPublic this)}}
        <img src="/images/star-blue.png" alt="Likes">
        {{this.likes}}
      {{/if}}
      </div>
      <a href="/dreams/{{this._id}}/details" class="dream-name">
        <h3>{{this.title}}</h3>
      </a>
      <div class="icons-edit">
      <a href="/dreams/{{this._id}}/edit"><img src="/images/edit.png" alt="Edit"></a>

      <form method="POST" action="/dreams/{{this._id}}/delete">
        <button type="submit"><img src="/images/bin.png" alt="Delete"></button>
      </form>
      </div>
    </div>
    {{/each}}
  </div>

</div>