<div id="record">
  {{> nav this }}
  <h1 class="titles">{{result.title}}</h1>
  <div class="white-card">
    <p class="words">Listen to your Dream</p>
    <audio class="audio" src="{{result.audioUrl}}" type="audio/wav" controls ></audio>
    
    
    <p class="words">Categories</p>
    {{#each result.categories}}
      <div class="input-band">{{this}}</div>
    {{/each}}

    <p class="words">Description</p>
    <div class="input-band">
      <p>{{result.description}}</p>
    </div>

    <p class="words">Status</p>
    <div class="input-band">
      <div>{{result.status}}</div>
    </div>
    
    <p class="words">Date</p>
    <div>
      <p class="input-band">{{formatDate result.date "long"}}</p>
    </div>

    <div class="editAndDelete">
      {{#if editable}}
      <a href="/dreams/{{result._id}}/edit"><button class="create-btn">Edit</button></a>
      <form method="POST" action="/dreams/{{result._id}}/delete">
      <button type="submit" class="create-btn">Delete</button>
      </form>
      {{/if}}
    </div>

  </div>
</div>

