<div id="record">
  {{> nav this }}
  <h1 class="titles">{{result.title}}</h1>
  {{#if isPublic}}
    <div class="detailsStar"><img src="/images/star-filled.png" alt="Likes"> {{result.likes}}</div> 
  {{/if}}
  <div class="white-card">
    <p class="words">Listen to your Dream</p>
    <audio class="audio" src="{{result.audioUrl}}" type="audio/wav" controls ></audio>
    
    
    <p class="words">Categories</p>
      <div class="input-band">{{#if catString}} {{catString}} {{else}} <span class="italic">No category defined</span> {{/if}}</div>

    <p class="words">Language</p>
      <div class="input-band">{{#if result.language}} {{result.language}} {{else}} <span class="italic">No language defined</span> {{/if}}</div>

    <p class="words">Description</p>
    <div class="input-band">
      <p>{{#if result.description}} {{result.description}} {{else}} <span class="italic">No description inserted</span> {{/if}}</p>
    </div>

    <p class="words">Status</p>
    <div class="input-band">
      <div>{{result.status}}</div>
    </div>
    
    <p class="words">Date</p>
    <div>
      <p class="input-band">{{formatDate result.date "long"}}</p>
    </div>

    <div class="editAndDelete">
      {{#if editable}}
      <a href="/dreams/{{result._id}}/edit"><button class="create-btn">Edit</button></a>
      <form method="POST" action="/dreams/{{result._id}}/delete">
      <button type="submit" class="create-btn">Delete</button>
      </form>
      {{/if}}
    </div>

  </div>
</div>

