<div id="record">
  {{> nav this }}
  <h1 class="titles">Edit your dream</h1>
  <div class="white-card">
    <p class="words">Listen to your Dream</p>
    <audio class="audio" src="{{result.audioUrl}}" type="audio/wav" controls></audio>
    <form method="POST" action="/dreams/{{result._id}}/edit">
      <label class="words" for="nameYourDream">Rename your dream</label>
      <div class="input-band">
        <input id= "nameYourDream" type="text" name="title" value="{{result.title}}">
      </div>
    

     <div class="dropdown">
       <div class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</div>
       <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
         <input type="checkbox" class="dropdown-item" id = "fantastic" value="Fantastic"><label for="fantastic">Fantastic</label>
         <input type="checkbox" class="dropdown-item" id = "superPowers" value="Super Powers"><label for="superPowers">Super Powers</label>
         <input type="checkbox" class="dropdown-item" id = "action" value="Action"><label for="action">Action</label>
         <input type="checkbox" class="dropdown-item" id = "adventure" value="Adventure"><label for="adventure">Adventure</label>
         <input type="checkbox" class="dropdown-item" id = "family" value="Family"><label for="family">Family</label>
         <input type="checkbox" class="dropdown-item" id = "childhood" value="Childhood"><label for="childhood">Childhood</label>
         <input type="checkbox" class="dropdown-item" id = "friends" value="Friends"><label for="friends">Friends</label>
         <input type="checkbox" class="dropdown-item" id = "funny" value="Funny"><label for="funny">Funny</label>
         <input type="checkbox" class="dropdown-item" id = "pets" value="Pets"><label for="pets">Pets</label>
         <input type="checkbox" class="dropdown-item" id = "job" value="Job"><label for="job">Job</label>
         <input type="checkbox" class="dropdown-item" id = "drama" value="Drama"><label for="drama">Drama</label>
         <input type="checkbox" class="dropdown-item" id = "romance" value="Romance"><label for="romance">Romance</label>
         <input type="checkbox" class="dropdown-item" id = "celebrities" value="Celebrities"><label for="celebrities">Celebrities</label>
         <input type="checkbox" class="dropdown-item" id = "xxx" value="XXX"><label for="xxx">XXX</label>
         <input type="checkbox" class="dropdown-item" id = "theUnknow" value="The Unknown"><label for="theUnknow">The Unknown</label>
         <input type="checkbox" class="dropdown-item" id = "strangers" value="Strangers"><label for="strangers">Strangers</label>
         <input type="checkbox" class="dropdown-item" id = "nightmare" value="Nightmare"><label for="nightmare">Nightmare</label>
       </div>
     </div>

     <p class="words">Description (optional)</p>
     <div class="input-band">
        <input id= "description" type="text" name="description" value="{{result.description}}">
     </div>
     

     <p class="words">Date</p>
     <div class="input-band">
        <input id= "date" type="date" name="date" value="{{resultDate}}">
     </div>

     <div>
       {{#if publicStatus}}
        <label class="words" for="status">Make it private</label>
        <input id= "status" type="radio" name="status" value="private">
      {{else}}
        <label for="status">Make it public</label>
        <input id= "status" type="radio" name="status" value="public">
      {{/if}}
     </div>
    
    <div class="edit-btn">
      <button class="create-btn" type="submit">Edit</button>
    </div>
    
 
    {{#if failed}}
      <p>Something went wrong, please try again</p>
    {{/if}}
    </form>

  </div>
</div>
