<div id="record">
  {{> nav this }}
  <h1 class="titles">Edit your dream</h1>
  <div class="white-card">
    <p class="words">Listen to your Dream</p>
    <audio class="audio" src="{{result.audioUrl}}" type="audio/wav" controls></audio>
    <form method="POST" action="/dreams/{{result._id}}/edit">
      <label class="words" for="nameYourDream">Rename your dream</label>
      <div class="input-band">
        <input id= "nameYourDream" type="text" name="title" value="{{result.title}}">
      </div>

    <p class="words">Categories</p>
    <div class="input-band">{{#if catString}} {{catString}} {{else}} <span class="italic">No category defined</span> {{/if}}</div>
     <div class="dropdown">
       <div class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change the categories</div>
       <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
         <div class="dropdown-item"><input type="checkbox" id = "fantastic" name="categories" value="Fantastic"><label for="fantastic">Fantastic</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "superPowers" name="categories" value="Super Powers"><label for="superPowers">Super Powers</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "action" name="categories" value="Action"><label for="action">Action</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "adventure" name="categories" value="Adventure"><label for="adventure">Adventure</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "family" name="categories" value="Family"><label for="family">Family</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "childhood" name="categories" value="Childhood"><label for="childhood">Childhood</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "friends" name="categories" value="Friends"><label for="friends">Friends</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "funny" name="categories" value="Funny"><label for="funny">Funny</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "pets" name="categories" value="Pets"><label for="pets">Pets</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "job" name="categories" value="Job"><label for="job">Job</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "job" name="categories" value="Music"><label for="music">Music</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "drama" name="categories" value="Drama"><label for="drama">Drama</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "romance" name="categories" value="Romance"><label for="romance">Romance</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "celebrities" name="categories" value="Celebrities"><label for="celebrities">Celebrities</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "xxx" name="categories" value="XXX"><label for="xxx">XXX</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "theUnknow" name="categories" value="The Unknown"><label for="theUnknow">The Unknown</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "strangers" name="categories" value="Strangers"><label for="strangers">Strangers</label></div>
         <div class="dropdown-item"><input type="checkbox" id = "nightmare" name="categories" value="Nightmare"><label for="nightmare">Nightmare</label></div>
       </div>
     </div>


    <p class="words">Current language</p>
    <div  class="input-band">{{#if result.languages}} {{result.languages}} {{else}} <span class="italic">No language defined</span> {{/if}}</div>
     <select name="languages" id="languages">
            <option value="">Change the language</option>
            <option value="EN">English</option>
            <option value="FR">French</option>
            <option value="ES">Spanish</option>
            <option value="DE">German</option>
            <option value="PL">Polish</option>
            <option value="IT">Italian</option>
            <option value="NL">Dutch</option>
            <option value="CA">Catalan</option>
            <option value="PT">Portuguese</option>
            <option value="SV">Swedish</option>
            <option value="RU">Russian</option>
            <option value="HI">Hindi</option>
          </select>
    

     <p class="words">Description (optional)</p>
     <div class="input-band">
        <input id= "description" type="text" name="description" placeholder="No description yet" value="{{result.description}}">
     </div>
     

     <p class="words">Date</p>
     <div class="input-band">
        <input id= "date" type="date" name="date" value="{{resultDate}}">
     </div>

     <div>
       {{#if publicStatus}}
        <label class="words" for="status">Make it private</label>
        <input id= "status" type="radio" name="status" value="private">
      {{else}}
        <label for="status">Make it public</label>
        <input id= "status" type="radio" name="status" value="public">
      {{/if}}
     </div>
    
    <div class="edit-btn">
      <button class="create-btn" type="submit">Edit</button>
    </div>
    
 
    {{#if failed}}
      <p>Something went wrong, please try again</p>
    {{/if}}
    </form>

  </div>
</div>
