<h3>Hello {{loggedInUser.username}}</h3>

<form method="POST" action="/record">

    <label for="recordAdream">Record a dream</label>
    <input id="recordAdream" type="" name="recordAdream" placeholder="Record a dream">

    <label for="nameYourDream">Name your dream</label>
    <input id= "nameYourDream" type="text" name="title" placeholder="Give your dream a name">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" value="{{result.categories}}">Fantasctic</button>
        <button class="dropdown-item" value="{{result.categories}}">Super Powers</button>
        <button class="dropdown-item" value="{{result.categories}}">Action</button>
        <button class="dropdown-item" value="{{result.categories}}">Adventure</button>
        <button class="dropdown-item" value="{{result.categories}}">Family</button>
        <button class="dropdown-item" value="{{result.categories}}">Childhood</button>
        <button class="dropdown-item" value="{{result.categories}}">Friends</button>
        <button class="dropdown-item" value="{{result.categories}}">Funny</button>
        <button class="dropdown-item" value="{{result.categories}}">Pets</button>
        <button class="dropdown-item" value="{{result.categories}}">Job</button>
        <button class="dropdown-item" value="{{result.categories}}">Drama</button>
        <button class="dropdown-item" value="{{result.categories}}">Romance</button>
        <button class="dropdown-item" value="{{result.categories}}">Celebrities</button>
        <button class="dropdown-item" value="{{result.categories}}">XXX</button>
        <button class="dropdown-item" value="{{result.categories}}">The Unknown</button>
        <button class="dropdown-item" value="{{result.categories}}">Strangers</button>
        <button class="dropdown-item" value="{{result.categories}}">Nightmare</button>
      </div>
    </div>
    
    <label for="description">Description (optional)</label>
    <input id= "description" type="text" name="description" placeholder="Describe your dream">

    <label for="date">Date</label>
    <input id= "date" type="date" name="date">

     <button type="submit">Create</button>
 
        
</form>

{{#if failed}}
<p>Something went wrong, please try again</p>
{{/if}}

